.contact-list {
  background-color: #FCFCFC;
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.contact-list .title {
  margin: .25em 0;
  text-align: center;
}

.contact-list .search-bar {
  margin: .5em;
}

.contact-list .search-bar input {
  border: 1px solid #DEDEDE;
  border-radius: .3em;
  padding: .3em .5em;
  width: 100%;
}

.contact-list .search-bar input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
  outline: 0;
}

.contact-list .list {
  border-top: 1px solid #DEDEDE;
  flex-grow: 1;
  overflow-y: auto;
}

.contact-list .contact {
  border-bottom: 1px solid #DEDEDE;
}

.contact-list .contact:hover,
.contact-list .contact:focus {
  background-color: rgba(0, 0, 0, .04);
}
