.products {
  padding: 0;
  border: 1px solid #DDD;
}

.products .header {
  text-align: center;
  margin: 0;
}

.products .filter {
  padding: .75rem;
}

.products .filter input {
  width: 100%;
  border-radius: .3rem;
  border: 1px solid #AAA;
  padding: .25rem .5rem;
}

.products .filter input:focus {
  border-color: #0066FF;
  box-shadow: 0 0 0.5rem #0066FF;
  outline: 0;
}

.products .product-list {
  border-top: 1px solid #DDD;
}
