.products {
  padding: 0;
  border: 1px solid #DDD;
}

.products .header {
  text-align: center;
  margin: 0;
}

.products .filter {
  padding: .75rem;
}

.products .product-list {
  border-top: 1px solid #DDD;
}
