.message-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: .75em;
}

.message-list .message.to {
  text-align: right;
}

.message-list .message.to span {
  background-color: #EEE;
  text-align: right;
}

.message-list .message.from  span {
  background-color: #CCC;
}
