.message-list {
  background-color: #FBF4F3;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: .75em;
}

.message-list .message.to {
  text-align: right;
}

.message-list .message.to span {
  background-color: #B2E6BA;
  border-color: #B2E6BA;
  text-align: right;
}

.message-list .message.from  span {
  background-color: #FFF;
  border-color: #FFF;
}
