.contact-initials {
  background-color: #CCC;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
  font-family: monospace;
  font-size: 1.1em;
  line-height: 1;
  padding: 1.1em 1em;
}
