.product {
  display: flex;
  align-items: center;
  padding: .75rem;
  border-bottom: 1px solid #DDD;
}

.product .thumb {
  background-color: #CCC;
  border-radius: 100%;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1rem;
  text-transform: uppercase;
  padding: 1rem .6rem;
  margin-right: .75rem;
}

.product .data {
  flex-grow: 1;
}

.product .data .details {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
